body{
margin:0;
padding: 0;
font-family: 'Poppins', sans-serif;
background: #a9d2ff;
  color:white;
}

.navbar{
position:fixed;
top:20px;
width:100%;
text-align:center;
}

.navbar a{
margin:0 15px;
text-decoration:none;
color:#444;
font-size:15px;
}

.navbar a:hover{
color:#4285f4;
}

.container{
display:flex;
flex-direction: column;
justify-content:center;
align-items:center;
padding:0 15px;
margin-top:120px;
min-height: calc(100vh - 120px);
}

.logo{
    font-size: 60px;
    font-weight:bold;
    background: linear-gradient(90deg, #4285f4 , #34a853, #fbbc05, #ea4335);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s ease infinite;
    margin-bottom: 40px;
    margin-top: -20px;
}

@keyframes gradientMove {
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}   
}   


.logo:hover{
text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
cursor: pointer;
}


.search-box{
display:flex;
align-items:center;
width:90%;
max-width:500px;
background:white;
border-radius:30px;
padding:10px 15px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
margin:auto;
}

.search-box:hover{
box-shadow:0 0 10px rgba(0,0,0, 0.8);
}

.search-box input{
border:none;
outline:none;
font-size:16px;
width:100%;
padding:8px;
}



.icon{
color: black;
margin-right:10px;
}

.btn{
margin-top:20px;
padding:10px 25px;
border:none;
background:#4285f4;
color:white;
border-radius:20px;
cursor:pointer;
font-size:15px;
}

.btn:hover{
background: pink
}

.material-icons{
    font-size:18px;
}

.language {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 14px;
    color: #444;

}

.language a {
    margin-right: 6px;
    color:navy

}

.footer-tagline{
margin-top:30px;
margin-bottom: 50px;
font-size:14px;
color:#4f8a6b;
font-style: poppins;
}

.footer-links a{
    margin:0 10px;
    text-decoration:none;
    color: gray;
}

.footer-links a:hover{
    text-decoration:underline;
}


#result{
width:100%;
max-width:600px;
margin-top:30px;
}

.result-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background: #f9f9f9;
}

.result-card h4 {
    color: #333;
    margin-bottom: 10px;
}

.result-card p {
    color: #666;
    line-height: 1.5;
}

.loading {
    text-align: center;
    color: #666;
    font-style: italic;
}

@media (max-width: 600px) {
  input[type="text"] {
    width: 90%;       
  }
  button {
    width: 60%;      
  }
}
